<div class="col-lg-4 " >
  <%= link_to product_path(product) do %>
    <div class=" d-flex flex-column  justify-content-between card card-product card-center p-3"  >
      <div class=" h-100">
        <div class="product_info" >
          <h3> <%= product.designer.name %> </h3>
          <h2> <%= product.name %> </h2>
          <!-- <p class="card-text"> <%= product.description %> </p> -->
        </div>

        <%= cl_image_tag product.photos.first.key, class: "card-img-top  w-100" %>
      </div>

      <div class=" d-flex justify-content-between align-items-center pl-3 pr-3 pb-2 pt-2">
        <p class="mb-0"> <%= humanized_money_with_symbol(product.price) %> </p>
        <div>
          <%= link_to product_orders_products_path(product), method: :post do%>
          <i class="fas fa-shopping-cart"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
