<div>
  <div class="banner">
    <h4 class>
      We are driven bei
      <span style="font-weight: semibold; font-size: 40px;">
        Humanity
      </span>
      and driven by
      <span style="font-weight: semibold; font-size: 40px;">
        Creativity
      </span>
      . Many Berlin Talents prove sustainable fashion can be
      <span style="font-weight: semibold; font-size: 40px;">
        Modern
      </span>
      and
      <span style="font-weight: semibold; font-size: 40px;">Stylish</span>
    </h4>
    <h5 class>
      The brands we selected for you create
      <span style="font-weight: semibold; font-size: 40px;">Bold</span>
      designs,
      <span style="font-weight: semibold; font-size: 40px;">Consciously</span>
    </h5>
            <!-- <h1 class= "pt-5">
  Berlin talents prove sustainable fashion can be modern and stylish</h1>
  <p> Discover the latest trends in Vegan Crafted Summer Clothes </p> -->
    <div class="d-flex justify-content-start">
      <button type="button" class="btn btn-secondary btn-lg btn1">
        <%= link_to 'SHOW MORE',products_path %>
      </button>
    </div>
  </div>
  <br/>
  <h1 class="top-designers font-weight-bold">Top designers</h1>
  <div class="row" style="justify-content: center;">
    <% @top_designers.each do |designer| %>
      <%= link_to designer_path(designer), class: "mt-5" do  %>
        <div class="col-lg-4 h-100" style="height: 250px !important; border-radius: 30px;">
          <div class="card-product  h-100 " style="width: 30rem; margin-left: 5px; margin-right: 5px;">
            <%=cl_image_tag designer.photo.key%>
            <div class="card-product-infos">
              <h2>
                <%= designer.name %>
              </h2>
              <p>
                <%= designer.description  %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <button type="button" class="btn btn-secondary btn-lg btn2">
    <%= link_to'SEE ALL DESIGNERS',designers_path %>
  </button>
  <div class="container-2 d-flex justify-content-center">
    <div class="card card-w mx-5">
      <%= link_to products_path(gender: "women") do %>
        <!--  <img class="card-img-top w-100"  src="https://images.unsplash.com/photo-1523297467724-f6758d7124c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1262&q=80" alt="Card image cap"> -->
        <div class="card-body">
          <h3 class="text-center">WOMEN</h3>
        </div>
      <% end %>
    </div>
    <div class="container-2 d-flex justify-content-center">
      <div class="card card-m mx-5">
        <%= link_to products_path(gender: "men") do %>
        <!--     <img class="card-img-top w-100"  src="https://images.unsplash.com/photo-1566133919355-d72f16e0d1b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Card image cap">
  -->
          <div class="card-body">
            <h3 class="text-center">MEN</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br/>
  <h1 class="top-designers font-weight-bold">Our top products</h1>
  <div class="row" style="justify-content: center;">
    <% @products.each do |product| %>
      <%= render "shared/product_card", product: product %>
    <% end %>
  </div>
</div>

