<div class="container">
  <div class=" py-4">
  <h1>Checkout</h1>
   <%  @order.order_products.each do |item| %>
      <div class="row justify-content-between align-items-end">
      <div class="col-6">
      <p> <%= humanized_money_with_symbol item.product.price %> -  <%= item.product.name %> </p>
      </div>
       <div class="col-3">
        <%= cl_image_tag item.product.photos.first.key, width: '30%' %>
      </div>
    </div>
    <% end %>
       <div class= "payment">
        <p class="border-top border-dark pt-3 mt-3"> <strong>Total </strong> <%= humanized_money_with_symbol(@order.total) %> </p>
        <div class="d-flex" style="justify-content: center;" >
          <button id="confirm-and-pay" class="btn btn-info">Pay</button>
            <script src="https://js.stripe.com/v3/"></script>
              <script>
                const paymentButton = document.getElementById('confirm-and-pay');
                paymentButton.addEventListener('click', () => {
                  const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                  stripe.redirectToCheckout({
                    sessionId: '<%= @order.checkout_session_id %>'
                  });
                });
              </script>
          </div>
    </div>
</div>



