<div class="container">
  <div class="row py-4">
  <h1>Checkout summary</h1>
   <%  @order.order_products.each do |item| %>
    <div class="col-md-4"><%= cl_image_tag item.product.photos.first.key, width: '50%' %></div>
    <div class="col">
      <p>Purchase of <strong><%= item.product.name %></strong> for <strong><%= humanized_money_with_symbol item.product.price %></strong></p>
      <% end %>
      <h1>Total</h1>
      <%= humanized_money_with_symbol(@order.total) %>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>