<% @products.each do |product| %>
 <%= link_to product_path(product) do  %>
<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h3> <%= "by Designer" %> </h3>
    <h2> <%= product.name %> </h2>
    <p class="card-text"> <%= product.description %> </p>
    <p class="card-text"> <%= product.color %> </p>
  </div>
  <%= image_tag(product.foto, class: "card-img-top") %>
  <div class="d-flex justify-content-between align-items-center p-3">
    <p class="mb-0"> <%= product.price %>,- € </p>
    <p class="mb-0"><%= "Available size" %> </p>
    <i class="fas fa-shopping-cart"></i>
  </div>
</div>
<% end %>
<% end %>
